* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/inter-v7-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/inter-v7-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/inter-v7-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/inter-v7-latin_cyrillic-500.woff') format('woff');
}

:root {
  --dark-grey: #212b31;
  --light-grey: #72787d;
  --white: #fff;
}

html {
  font-family: 'Inter', Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.demo-btn {
  padding: 14px 26px;
  font-family: Arial;
  font-size: 17px;
  color: var(--white);
  background-color: var(--dark-grey);
}

.more-btn {
  padding: 13px 25px;
  border: 1px solid #dadedf;
  font-size: 18px;
  color: var(--dark-grey);
  background-color: var(--white);
}

/* header */
.header__container {
  display: flex;
  align-items: center;
  margin-bottom: 73px;
  padding: 26px 31px;
}

.header__logo {
  margin-right: auto;
}

.nav__list {
  display: flex;
  margin-right: 19px;
}

.nav__link {
  color: var(--light-grey);
}

.nav__link_active {
  color: #036fc7;
}

.nav__item:not(:last-child) {
  margin-right: 22px;
}

.header__button {
  padding: 9px 20px;
  font-size: 15px;
}

/* hero */
.section-hero__container {
  margin-bottom: 150px;
}

.section-hero__heading {
  margin: 0 auto 30px;
  text-align: center;
  max-width: 818px;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: var(--dark-grey);
}

.section-hero__btns {
  display: flex;
  justify-content: center;
  padding-bottom: 416px;
  background-image: url('../img/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: top 137px center;
}

.section-hero__button_demo {
  margin-right: 15px;
}

.section-hero__guarantees-list {
  display: flex;
  justify-content: center;
  padding-top: 242px;
  background-image: url('../img/bg-2.jpg');
  background-repeat: no-repeat;
  background-position: top 36px center;
}

.section-hero__guarantees-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  max-width: 327px;
  background-repeat: no-repeat;
  background-position: top center;
}

.section-hero__guarantees-item:not(:last-child) {
  margin-right: 41px;
}

.section-hero__guarantees-item_efficiency {
  background-image: url('../img/benefit-icon-1.svg');
}

.section-hero__guarantees-item_casualties {
  background-image: url('../img/benefit-icon-2.svg');
}

.section-hero__guarantees-item_safety {
  background-image: url('../img/benefit-icon-3.svg');
}

.section-hero__guarantees-heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-grey);
}

.section-hero__guarantees-description {
  margin: 0;
  text-align: center;
  line-height: 24px;
  color: var(--light-grey);
}

/* section-help */
.section-help__container {
  margin-bottom: 70px;
}

.section-help__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-help__heading {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  color: var(--dark-grey);
}

.sectiion-help__description {
  padding-bottom: 489px;
  max-width: 1015px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
  background-image: url('../img/bg-3.jpg');
  background-repeat: no-repeat;
  background-position: top 136px center;
}

.section-help__motivating-text {
  margin-bottom: 168px;
  max-width: 780px;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  color: var(--dark-grey);
}

.section-help__care-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-left: 192px;
  padding-bottom: 84px;
  background-image: url('../img/bg-4.jpg');
  background-repeat: no-repeat;
  background-position: center right 242px;
}

.section-help__care-heading {
  margin-bottom: 15px;
  max-width: 490px;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: var(--dark-grey);
}

.section-help__care-description {
  margin-bottom: 28px;
  max-width: 540px;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
}

.section-care__tagline {
  font-size: 20px;
  line-height: 32px;
  color: var(--dark-grey);
  background-image: url('../img/Rectangle.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* section-partners */
.section-partners__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
  padding: 56px 0 54px;
  max-width: 1088px;
  border-top: 1px solid #eef2f3;
  border-bottom: 1px solid #eef2f3;
}

.section-partners__image-container {
  width: 180px;
}

.section-partners__image-container:nth-child(-n+5) {
  margin-right: 39px;
}

.section-partners__image-container:nth-child(-n+6) {
  margin-bottom: 9px;
}

/* section-about-us */
.section-about-us__container {
  margin-bottom: 143px;
}

.section-about-us__heading {
  margin-bottom: 25px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: var(--dark-grey);
}

.section-about-us__description {
  margin: 0 auto 28px;
  max-width: 830px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
}

.section-about-us__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about-us__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 500px;
  max-width: 1056px;
  height: 272px;
  background-repeat: no-repeat;
}
.section-about-us__item:not(:last-child) {
  margin-bottom: 64px;
}

.section-about-us__item:nth-child(1) {
  background-image: url('../img/bg-5.jpg');
  background-position: bottom right 62px;
}

.section-about-us__item:nth-child(2) {
  align-items: flex-end;
  padding-right: 0;
  padding-left: 535px;
  background-image: url('../img/bg-6.jpg');
  background-position: bottom left 80px;
}

.section-about-us__item:nth-child(3) {
  background-image: url('../img/bg-7.jpg');
  background-position: bottom right 56px;
}

.section-about-us__item-heading {
  margin-bottom: 19px;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  color: var(--dark-grey);
}

.section-about-us__item-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--light-grey);
}

/* section-delivery */
.section-delivery__container {
  margin-bottom: 127px;
}

.section-delivery__heading {
  margin-bottom: 21px;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: var(--dark-grey);
}

.section-delivery__description {
  margin: 0  auto 46px;
  max-width: 643px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
}

.section-delivery__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1056px;
  margin: 0 auto 22px;
}

.section-delivery__item {
  display: flex;
  flex-direction: column;
  width: 334px;
  margin-right: 27px;
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: top left;
}

.section-delivery__item:nth-child(3n) {
  margin-right: 0;
}

.section-delivery__item:nth-child(-n+6) {
  margin-bottom: 36px;
}

.section-delivery__item-heading {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-grey);
}

.section-delivery__item-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--light-grey);
}

.section-delivery__item:nth-child(1) {
  background-image: url('../img/Concrete.svg');
}

.section-delivery__item:nth-child(2) {
  background-image: url('../img/Waste\ removal.svg');
}

.section-delivery__item:nth-child(3) {
  background-image: url('../img/Formwork.svg');
}

.section-delivery__item:nth-child(4) {
  background-image: url('../img/Precasts.svg');
}

.section-delivery__item:nth-child(5) {
  background-image: url('../img/Facades.svg');
}

.section-delivery__item:nth-child(6) {
  background-image: url('../img/Fit-out.svg');
}

.section-delivery__item:nth-child(7) {
  background-image: url('../img/Scaffolding.svg');
}

.section-delivery__item:nth-child(8) {
  background-image: url('../img/Equipment.svg');
}

.section-delivery__item:nth-child(9) {
  background-image: url('../img/MEP.png');
}

.section-delivery__text {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
}

.section-delivery__text_bg {
  display: inline-block;
  color: var(--dark-grey);
  background-image: url('../img/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* section-reliability */
.section-reliability__container {
  margin-bottom: 144px;
  padding-left: 192px;
  padding-right: 192px;
}

.section-reliability__heading {
  margin: 0 auto;
  max-width: 263px;
  padding: 25px 33px 20px;
  font-size: 32px;
  font-weight: 400;
  color: var(--dark-grey);
  background-image: url('../img/reliability.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.section-reliability__description {
  margin: 0 auto 48px;
  max-width: 857px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
}

.section-reliability__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.section-reliability__item {
  text-align: center;
  max-width: 332px;
  padding-top: 69px;
  background-repeat: no-repeat;
  background-position: top center;
}

.section-reliability__item:nth-child(1) {
  background-image: url('../img/benefit-icon-4.svg');
}

.section-reliability__item:nth-child(2) {
  background-image: url('../img/benefit-icon-5.svg');
}

.section-reliability__item:nth-child(3) {
  background-image: url('../img/benefit-icon-6.svg');
}

.section-reliability__item-heading {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-grey);
}

.section-reliability__item-description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-grey);
}

.section-reliability__advertisement-container {
  display: flex;
  align-items: center;
  padding: 41px 40px 41px 104px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-image: url('../img/reliability-2.svg');
  background-position: center left 40px;
  background-color: #f6f8f9;
  ;
}

.section-reliability__advertisement-text {
  margin-right: 66px;
  font-size: 18px;
  color: var(--dark-grey);
}

.section-reliability__advertisement-text_strong {
  font-weight: 500;
}

.section-reliability__advertisement-button {
  padding: 14px 24px;
}

/* section-app-advertising */
.section-app-advertising {
  background-color: var(--dark-grey);
  background-image: url('../img/bg-8.png');
  background-repeat: no-repeat;
  background-position: top 143px right;
}

.section-app-advertising__container {
  padding: 150px 192px 118px 192px;
  color: var(--white);
}

.section-app-advertising__top-content {
  margin-bottom: 142px;
  max-width: 589px;
}

.section-app-advertising__heading {
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 32px;
}

.section-app-advertising__list {
  margin-bottom: 65px;
  padding-left: 18px;
  list-style: circle;
}

.section-app-advertising__item {
  padding-left: 23px;
}

.section-app-advertising__item:not(:last-child) {
  margin-bottom: 26px;
}

.section-app-advertising__item-heading {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}

.section-app-advertising__item-description {
  line-height: 24px;
  opacity: 0.75;
}

.section-app-advertising__button_demo {
  margin-right: 16px;
  padding: 15px 23px;
  color: var(--dark-grey);
  background-color: var(--white);
}

.section-app-advertising__button_more {
  padding: 13px 24px;
  background-color: transparent;
  color: var(--white);
}

.section-app-advertising__benefits-list {
  display: flex;
  justify-content: space-between;
}

.section-app-advertising__benefits-item {
  padding-top: 73px;
  max-width: 340px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
}

.section-app-advertising__benefits-item:nth-child(1) {
  background-image: url('../img/benefit-icon-7.svg');
}

.section-app-advertising__benefits-item:nth-child(2) {
  background-image: url('../img/benefit-icon-8.svg');
}

.section-app-advertising__benefits-item:nth-child(3) {
  background-image: url('../img/benefit-icon-9.svg');
}

.benefits-item__heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.benefits-item__description {
  line-height: 24px;
  opacity: 0.75;
}

/* section-how-work */
.section-how-work__container {
  display: flex;
  justify-content: space-between;
  padding: 143px 192px 96px 192px;
}

.section-how-work__left {
  background-image: url('../img/bg-9.jpg');
  background-repeat: no-repeat;
  background-position: top 192px left;
}

.section-how-work__right {
  max-width: 520px;
}

.section-how-work__heading {
  margin-bottom: 21px;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: var(--dark-grey);
}

.section-how-work__description {
  max-width: 462px;
  font-size: 20px;
  line-height: 32px;
  color: var(--light-grey);
}

.section-how-work__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 72px;
}

.section-how-work__item:last-child {
  margin-bottom: 45px;
}

.section-how-work__item-number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #dadedf;
  color: var(--light-grey);
}

.section-how-work__item-heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--dark-grey);
}

.section-how-work__item-description {
  line-height: 24px;
  color: var(--light-grey);
}

.section-how-work__button_demo {
  margin-right: 16px;
  padding: 16px 23px;
}
